cmasher==1.8.0
colorspacious==1.1.2
debugpy==1.8.1
equinox==0.11.10
flax==0.10.4
fonttools==4.51.0
ipykernel==6.29.4
ipython==8.24.0
jax==0.5.3
jaxlib==0.5.3
jaxtyping==0.2.38
jedi==0.19.1
json5==0.9.25
jupyter==1.0.0
matplotlib==3.8.4
NetKet==3.16.1.post1
networkx==3.3
numba==0.60.0
numpy==1.26.4
opt-einsum==3.3.0
optax==0.2.2
orbax-checkpoint==0.11.10
pandas==2.2.2
scipy==1.13.0
seaborn==0.13.2
setuptools==69.5.1
simplejson==3.20.1
sympy==1.12.1
tensorstore==0.1.72
tqdm==4.66.4
